//variaveis
$primaria: #2C363F;
$primariaE: #21282e;
$secundaria: #E75A7C;
$terciaria: #F2F5EA;
$terciariaE: #c0c2ba;
$extra: #BBC7A4;

//funções
@mixin relativo($width, $height) {
    position: relative;
    width: $width;
    text-align: center;
    height:$height;
    float:left;  
}
@mixin fixed($top,$right,$bottom,$left){
    position: fixed;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}


// gerais
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(138, 138, 138);
}

textarea {
    resize: none;
}
td{
 margin-left:9px;
}
p{
 margin-left:9px;
}



// 3 bases
.header {
    @include relativo(100%,150px);
   
    background-color: $secundaria;
}

.body {
    @include relativo(100%,auto);
    background-color: $terciaria;
    p {
        color: $primaria;
    }
}

.footer {
    background-color: $extra;
    margin-bottom: 0;
    @include relativo(100%,100px);
}

//divisões

.esquerda{
   // background-color: $secundaria;
    @include relativo(33.333%,100%);
}
.meio{
   // background-color: $extra;
    @include relativo(33.333%,100%);
}
.direita{
   // background-color: white;
    @include relativo(33.333%,100%);
}
.metade{

    @include relativo(40%, 200px);
   // background-color: brown;
    margin: 10px 0px 30px 80px;
   
}
.botao{
    border:none;
    padding: 10px;
    font-size: 18px;
    background-color: $primaria;
    color:$terciaria;
    border-radius: 15%;
}
.botao:hover{
    background-color: $primariaE;
    color:$terciariaE;
}

//formulários
.formulario{
    width: 60%;
    text-align: center;
    margin:auto;
}
label{
    font-size:30px;
}
#labelcomentario{
    top:0px;
}
input[type=text],input[type=password],input[type=email]{
    text-align: center;
    background-color: $extra;
    color:$primariaE;
    padding: 0px 10px 0px 10px;
    border:none;
    font-size:20px;
    height:40px;

}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus{
    background-color: $terciaria;
    border: 3px solid #555;
    font-size:20px;
    height:40px;
    outline: none;
}
input[type=email]{
    width:400px;
    text-align: center;
}
input[type=checkbox]{
    width:20px;
    height:20px;
}
input[type=file]{
    
}
textarea{
    background-color: $extra;
    border: none;
    
}
textarea:focus{
    outline: none;
    background-color: $terciaria;
    border: 3px solid #555;
    
}

//tabelas
table{
    border-collapse: collapse;
    margin:auto;
}
td.publicacoes{
  //  border: 2px solid black;
    border-spacing: 0;
  //  background-color: white;
    width: 200px;

}

table.publicacoes{
    width:100%;
    height:100%;
    
}
td.content{
   width: 100%;
   height:100%;
   text-align: center;
 // background-color: rgb(151, 190, 111);
}
td.navleft{
    width:10%;
    height:100%;
    //background-color: cadetblue;
    text-align: center;
   padding-top: 50px;
    vertical-align: top;
    border-right: 3px solid black;
   
}
td.lista{
    font-size: 20px;
    line-height: 45px;
}
table.publicacao{
    width:100%;
    background-color: $primaria;
    color:$terciaria;
    height: 220px;
}
td.publicacao{
    font-size: 20px;
    padding-left: 10px;
    
}


// especificos
#icon{
    @include fixed(null,5,5,null );
    width:100px;
    height:100px;
}

#like{
    color:$terciaria;
}
#like:hover{
    color:$secundaria;
}
#avatar{
    border-radius: 50%;
}
#likeado{
    color:$extra;
    pointer-events: none;
}
#likes{
    pointer-events: none;
    font-size:25px;
}
#icone{
    width:80px;
    height:80px;
}
#usuario{
    vertical-align: top;
 background-color: $terciariaE;
    margin-left: 5%;
    @include relativo(90%, 100%);
}
#titulinho{
    text-align: center;
}
#reset{
    margin-bottom: 40px;
}
#avatarperfil{
    width:40%;
    
    height:550px;
}
#nomeperfil{
    width:60%;
 
}